{% extends 'base.html' %}
{% load static %}
{% block title %}QR List{% endblock %}
{% block sub_breadscumb_highlight %}QR List{% endblock %}
{% block content %}

<div class="row" id="vue_div">
    <div class="col col-xl-12">
        <div class="card">
            <div class="card-header border-0">
                <a href="{% url 'qr_create' %}" class="btn btn-primary btn-sm font-size-12 float-right">
                    추가
                </a>
            </div>
            <div class="table-responsive">
                <!--projects table-->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" id="nickname">별칭</th>
                            <th scope="col">이동 URL</th>
                            <th scope="col">QRcode</th>
                            <th scope="col">생성채널</th>
                            <th scope="col">생성일</th>
                            <th scope="col">클릭수</th>
                            <th scope="col">액션</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="l in qrList">
                            <th scope="row">[[l.nick_name]]</th>
                            <td>[[l.target_url]]</td>
                            <td>
                                <button type="button" v-on:click="showModal(l)">qrcode</button>
                
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" >
                                    <div class="modal-header">
                                        <h3>[[modalTitle]]</h3>
                                    </div>
                                    <div class="modal-body" id="content">
                                        <img src="{% static '1_야놀자.png' %}">
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </td>
                            <td>[[l.create_via]]</td>
                            <td>[[l.created_at]]</td>
                            <td>
                                [[l.click]]
                                <a :href="'/qrs/' + l.id + '/statistic'">
                                    <i class="ni ni-chart-bar-32 ml-2" style="cursor: pointer;"></i>
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary">
                                    수정
                                </button>
                                <button @click="deleteQr(l.id)" class="btn btn-sm btn-danger" >
                                    삭제
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    let vm = new Vue({
        delimiters: ["[[","]]"],
        el: "#vue_div",
        data: {
            qrList: {},
            nicknameList: [],
            modalTitle: null,
            modalContent: null,
        },
        mounted() {
            this.getList();
        },
        methods: {
            //QR리스트 받아오기
            getList: function () {
                $("#vue_div").LoadingOverlay("show");
                axios.get(`/api/qrs/`)
                    .then(function (response) {
                        vm.qrList = response.data;
                        console.log('qrList :', vm.qrList, typeof(vm.qrList), Object.keys(vm.qrList).length);
                        var l = Object.keys(vm.qrList).length;
                        console.log("l :", l);
                        for(i=0; i<l; i++){
                            vm.nicknameList.push(vm.qrList[i]['nick_name']);
                        }
                        console.log('nicknameList :', vm.nicknameList);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        $("#vue_div").LoadingOverlay("hide");
                    });
                },
            //QR리스트 삭제
            deleteQr: function (qrId) {
                const c = confirm('정말 삭제 하시겠습니까?');
                if (!c) return;
                axios.delete(`/api/qrs/${qrId}`, {headers: {'X-CSRFToken': Cookies.get('csrftoken')}})
                .then(function (response) {
                    }).catch(function (e) {
                    }).finally(function () {
                    vm.getList();
                    });
                },
            // 모달창
            showModal: function (target) {
                $("#myModal").modal("show");
                //modaltitle 
                vm.modalTitle = target['nick_name'];
                var creatorId = target['creator']['id']
                vm.modalContent = `${creatorId}_${vm.modalTitle}.png`
                console.log("modaltitle :", vm.modalTitle);
                console.log("modalcontent :", vm.modalContent);
                //modalcontents
                // var img = document.createElement("img");
                // img.setAttribute("src", `C:Users/sby04/shrinkers/media/${vm.modalContent}`);
                // img.setAttribute("alt", `${vm.modalTitle}.png`)
                // document.getElementById("content").innerHTML = img;
               },
            },
    })
</script>
{% endblock %}
