{% extends 'base.html' %}
{% load static %}
{% block title %}QR List{% endblock %}
{% block sub_breadscumb_highlight %}QR List{% endblock %}
{% block content %}

<div class="row" id="vue_div">
    <div class="col col-xl-12">
        <div class="card">
            <div class="card-header border-0">
                <a href="{% url 'qr_create' %}" class="btn btn-primary btn-sm font-size-12 float-right">
                    추가
                </a>
            </div>
            <div class="table-responsive">
                <!--projects table-->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" id="nickname">별칭</th>
                            <th scope="col">이동 URL</th>
                            <th scope="col">QRcode</th>
                            <th scope="col">생성채널</th>
                            <th scope="col">생성일</th>
                            <th scope="col">클릭수</th>
                            <th scope="col">액션</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="l in qrLists">
                            <th scope="row">[[l.nick_name]]</th>
                            <td>[[l.target_url]]</td>
                            <td>
                                <button type="button" onclick="modal()">qrcode</button>
                
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" >
                                    <div class="modal-header" >
                                        <h5 class="modal-title" id="title"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="content">
                                        큐알 이미지를 넣어보아요
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </td>
                            <td>[[l.create_via]]</td>
                            <td>[[l.created_at]]</td>
                            <td>
                                [[l.click]]
                                <a :href="'/qrs/' + l.id + '/statistic'">
                                    <i class="ni ni-chart-bar-32 ml-2" style="cursor: pointer;"></i>
                                </a>
                            </td>
                            <td>
                                <button  class="btn btn-sm btn-primary">
                                    수정
                                </button>
                                <button @click="deleteQr(l.id)" class="btn btn-sm btn-danger" >
                                    삭제
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

//QR 리스트 가져오기
    const qrList = [];
    let nicknameList = [];
    function getQrList(){
        axios.get(`/api/qrs/`)
            .then(function (response) {
                qrList.push(response.data);
                console.log('qrList',qrList[0])
            })
            .catch(function (error) {
                console.log(error);
            })
            .then(function () {
            });
    }
//QR 닉네임 가져오기
    function getNickname(){
        const list = qrList[0]
        var l = keys(list).length;
        console.log('length', l);
        for(i=0; i<l; i++) {
            nicknameList.push(list[i]['nick_name']);
        }
        console.log('nickname', nicknameList);
    }
// 모달에 적용하기
    function modal(){
        for(i=0; i<nicknameList.length; i++){
            let mt = document.getElementById("title");
            mt.innerHTML(nicknameList[i]);
        }
        $("#myModal").modal("show");
    }

</script>
<script>
    let vm = new Vue({
        delimiters: ["[[","]]"],
        el: "#vue_div",
        data: {
            newQrName: null,
            newQrTarget: null,
            qrLists: [],
            qrNickname: []
        },
        mounted() {
            this.getList();
        },
        methods: {
            getList: function () {
                $("#vue_div").LoadingOverlay("show");
                axios.get(`/api/qrs/`).
                then(function (response) {
                    vm.qrLists = response.data;
                    console.log(vm.qrLists[0]);
                    }).catch(function (e) {
                    }).finally(function () {
                    $("#vue_div").LoadingOverlay("hide");
                    });
                },
            deleteQr: function (urlId) {
                const c = confirm('정말 삭제 하시겠습니까?');
                if (!c) return;
                axios.delete(`/api/qrs/${qrId}`, {headers: {'X-CSRFToken': Cookies.get('csrftoken')}})
                .then(function (response) {
                    }).catch(function (e) {
                    }).finally(function () {
                    vm.getList();
                    });
                },
            }
    })
</script>
{% endblock %}
